{% extends 'product/prodLayout.html.twig' %}

{% block pageheader %}
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Products</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('product_list') }}">Products</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ul>
    </div>

{% endblock %}

{% block body %}
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Edit Product</h3>
                        </div>
                        <div class="card-body">
                            <p>Edit product details!</p>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Current Picture</label>
                                <div class="col-sm-9">
                                    {% if pic is not null %}
                                        <img src="{{ asset('uploads/images/' ~ pic) }}" alt="Product" class="img-fluid" style="max-height: 250px; width: auto;">
                                    {% else %}
                                        <img src="{{ asset('img/no-img.jpg') }}" alt="Product" class="img-fluid" style="max-height: 250px; width: auto;">
                                    {% endif %}
                                </div>
                            </div>
                            {{ include('product/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

